body {
  background-color: #deebf6;
}

.container {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #a7c6e3;
  text-align: center;
  min-height: 350px;
}

.inputField {
  border-radius: 8px;
  margin-top: 15px;
}

.city-name, .temp {
  font-size: 50px;
  font-family: sans-serif;
}

.descrpt {
  margin: 0px;
}

.min-max {
  margin-top: 10px;
}

.humidity {
  margin: 8px;
}